<%# if(!page) var page = pages[0] %>
<%#
  var breadcrumbs = [page],
      parent_id = page.parent_id;

  while(parent_id) {
    var parent_page = pages.filter(function(item){return item.page_id === parent_id})[0];
    breadcrumbs.push(parent_page);
    parent_id = parent.parent_id;
  }
%>
<nav class="breadcrumbs">
  <ol class="breadcrumbs__list">
    <%# for(i=breadcrumbs.length-1; i>1; i--) { %>
      <li class="breadcrumbs__list-item"><a href="<%#- breadcrumbs[i].permalink %>"><%#- breadcrumbs[i].title %></a></li>
    <%# } %>
    <li class="breadcrumbs__list-item"><%#- breadcrumbs[0].title %></li>
  </ol>
</nav>