<%# if(!page) var page = pages[0] %>
<footer class="l-footer p-footer">
  <nav class="p-footer-nav u-component-mb">
    <ul class="p-footer-nav__list">
      <li class="p-footer-nav__list-item c-footer-nav-link"><a href="#" class="c-footer-nav-link__a">ホーム</a></li>
      <li class="p-footer-nav__list-item c-footer-nav-link"><a href="#" class="c-footer-nav-link__a">メニュー</a></li>
      <li class="p-footer-nav__list-item c-footer-nav-link"><a href="#" class="c-footer-nav-link__a">ショップ情報</a></li>
      <li class="p-footer-nav__list-item c-footer-nav-link"><a href="#" class="c-footer-nav-link__a">通販</a></li>
    </ul>
  </nav>
  <small class="c-copyright">&copy; HA*NA tea time.</small>
</footer>