<%# if(!page) var page = pages[0] %>
<nav class="o-gnav">
  <ul class="o-gnav__list">
    <li class="o-gnav__list-item"><a href="#" class="o-gnav__link">ホーム</a></li>
    <li class="o-gnav__list-item"><a href="#" class="o-gnav__link">メニュー</a></li>
    <li class="o-gnav__list-item"><a href="#" class="o-gnav__link">ショップ情報</a></li>
    <li class="o-gnav__list-item"><a href="#" class="o-gnav__link">通販</a></li>
  </ul>
</nav>