<% if(!page) var page = pages[0] %>
<header class="l-header p-header">
    <h1 class="p-header__logo c-header-logo"><img src="<%- page.siteroot %>assets/img/common/logo.svg"
        alt="HA*NA teatime" class="c-header-logo__img"></h1>
  </header>