
// Noto Sans JP
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700');

// Noto Serif JP
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:500,700');

// M Plus Rounded 1c
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500,700');

// Monospace
