.c-footer-nav-link {
  padding: 0 20px;
  border-left: 1px solid $white;
  line-height: 1;

  &:last-child {
    border-right: 1px solid $white;
  }

  @include media-breakpoint-down(xs) {
    padding: 0 10px;
  }

  &__a {
    color: $white;
    text-align: center;
    text-decoration: none;
    @include font-size(14px);
    @include hover() {
      color: darken($white, 8%);
    }
  }
}