.c-gnav-link {
  background-color: theme-color(assort-alt-500);
  @include hover{
    background-color: theme-color(assort-alt-400);
  }
  
  &__a {
    display: block;
    padding: 5px 0;
    color: $white;
    text-align: center;
    text-decoration: none;
    @include font-size(20px);
    @include hover() {
      text-decoration: none;
      color: darken($white, 8%);
    }
  }
}