.c-heading-content {
  @include font-size(16px);
  position: relative;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-weight: $font-weight-bold;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-image: radial-gradient(theme-color(assort-alt-400) 30%, transparent 0), radial-gradient(#444 30%, transparent 0);
    background-position: 0 0;
    background-size: 6px 6px;
    @include absolute(auto,auto,0,0);
  }
}