.c-product-card {
  display: block;
  border: 5px solid theme-color(assort-alt-400);
  border-radius: 20px;
  background-color: theme-color(assort-alt-400);
  text-decoration: none;
  @include hover() {
    text-decoration: none;
  }

  &__title {
    padding: 10px 0;
    color: $white;
    text-align: center;
  }
  &__brend {
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
    @include font-size(12px);

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }
  &__name {
    display: inline-block;
    white-space: nowrap;
    @include font-size(24px);

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }
  &__img {
    margin-bottom: 0;
    padding: 20px 40px;
    border-radius: 0 0 19px 19px;
    background-color: $white;
  }
}