body {
  background: url(../img/common/bg.jpg);
}

.l-wrapper {
  max-width: 1200px;
  margin: auto;
  background-color: theme-color(base-500);
  @include media-breakpoint-down(md) {
    margin: 0 30px;
  }
  @include media-breakpoint-down(xs) {
    margin: 0;
  }
}

.l-main {
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
.l-content {
  width: calc(100% - 340px - 60px);
  margin: 0 30px;

  @include media-breakpoint-down(md) {
    width: calc(100% - 60px);
  }
}

.l-sidebar {
  flex: 0 0 340px;
  width: 340px;
  margin: 0 30px;
  
  @include media-breakpoint-down(md) {
    width: calc(100% - 60px);
  }
}