<%
  var page_id = "1",
      page = pages.filter(function(item){return item.page_id === page_id})[0];
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include( page.siteroot+"common/_meta", {page:page}); %>
  <title><%- site.title %></title>
  <%- include( page.siteroot+"common/_head", {page:page}); %>
</head>

<body>
  <div class="l-wrapper">

    <%- include( page.siteroot+"common/_header", {page:page}); %>

    <nav class="l-gnav p-gnav">
      <ul class="p-gnav__list">
        <li class="p-gnav__list-item c-gnav-link"><a href="#" class="c-gnav-link__a">ホーム</a></li>
        <li class="p-gnav__list-item c-gnav-link"><a href="#" class="c-gnav-link__a">メニュー</a></li>
        <li class="p-gnav__list-item c-gnav-link"><a href="#" class="c-gnav-link__a">ショップ情報</a></li>
        <li class="p-gnav__list-item c-gnav-link"><a href="#" class="c-gnav-link__a">通販</a></li>
      </ul>
    </nav>

    <p class="l-hero c-hero u-block-mb">
      <img src="assets/img/top/hero.jpg" alt="あなたにホッとなひとときを、ハナティータイム" class="c-hero__img">
    </p>

    <main class="l-main">
      <div class="l-content">
        <section class="u-block-mb">
          <h2 class="c-heading-section u-component-mb">お知らせ・新着情報</h2>
          <dl class="p-info-list u-block-mb">
            <dt class="p-info-list__date c-info-date">2019.4.1</dt>
            <dd class="p-info-list__desc c-info-desc">新元号発表記念。オリジナルブレンド「令和」　発売します！</dd>
            <dt class="p-info-list__date c-info-date">2019.3.4</dt>
            <dd class="p-info-list__desc c-info-desc">紅茶の入れ方講座　開催のお知らせ（<a href="#">詳しくはこちらから</a>)</dd>
            <dt class="p-info-list__date c-info-date">2019.2.1</dt>
            <dd class="p-info-list__desc c-info-desc">新元号発表記念。オリジナルブレンド「令和」　発売します！</dd>
          </dl>

          <p class="u-component-mb"><img src="assets/img/top/shop.jpg" alt="ティーセットの写真"></p>

          <p class="u-text-center">HA＊NA tea timeは紅茶専門のカフェです。<br class="d-sm-none">HA＊NAオリジナルブレンドの紅茶を皆様にご提供します。<br
              class="d-sm-none">通販や紅茶に関する講座も行っております。是非ご利用下さい。
          </p>
        </section>

        <section class="u-block-mb">
          <h2 class="c-heading-section u-component-mb">お知らせ・新着情報</h2>
          <ul class="p-product-list">
            <li class="p-product-list__item">
              <a href="#" class="c-product-card">
                <h3 class="c-product-card__title"><span class="c-product-card__brend">オリジナルブレンド</span><span
                    class="c-prodcut-card__name">令和</span></h3>
                <p class="c-product-card__img"><img src="assets/img/common/item-reiwa.png" alt=""></p>
              </a>
            </li>
            <li class="p-product-list__item">
              <a href="#" class="c-product-card">
                <h3 class="c-product-card__title"><span class="c-product-card__brend">オリジナルブレンド</span><span
                    class="c-prodcut-card__name">グリンティー</span></h3>
                <p class="c-product-card__img"><img src="assets/img/common/item-green.png" alt=""></p>
              </a>
            </li>
          </ul>
        </section>

        <section class="l-lesson">
          <h2 class="c-heading-section u-component-mb">人気商品紹介</h2>
          <ul class="p-product-list">
            <li class="p-product-list__item">
              <a href="#" class="c-product-card">
                <h3 class="c-product-card__title"><span class="c-prodcut-card__name">アールグレイ</span></h3>
                <p class="c-product-card__img"><img src="assets/img/common/item-earl.png" alt=""></p>
              </a>
            </li>
            <li class="p-product-list__item">
              <a href="#" class="c-product-card">
                <h3 class="c-product-card__title"><span class="c-prodcut-card__name">ダージリン</span></h3>
                <p class="c-product-card__img"><img src="assets/img/common/item-darjeeling.png" alt=""></p>
              </a>
            </li>
            <li class="p-product-list__item">
              <a href="#" class="c-product-card">
                <h3 class="c-product-card__title"><span class="c-prodcut-card__name"><span
                      class="c-product-card__brend">オリジナルブレンド</span><span class="c-product-card__name">桜</span></h3>
                <p class="c-product-card__img"><img src="assets/img/common/item-sakura.png" alt=""></p>
              </a>
            </li>
          </ul>
        </section>
      </div>

      <div class="l-sidebar">
        <section class="l-lesson u-block-mb">
          <h2 class="c-heading-section u-sidebar-mb">開催講座</h2>
          <ul class="p-lesson-tags">
            <li class="p-lesson-tags__item c-tag-text">紅茶の入れ方講座</li>
            <li class="p-lesson-tags__item c-tag-text">ブレンド紅茶の作り方講座</li>
            <li class="p-lesson-tags__item c-tag-text">オリジナルティーカップ作成講座</li>
          </ul>
        </section>

        <section class="l-lesson u-block-mb">
            <h2 class="c-heading-section u-sidebar-mb">店舗情報</h2>
            <h3 class="c-heading-content">HA＊NA tea time</h3>
            <dl class="p-shop-info">
              <dt class="p-shop-info__dt">住所</dt><dd class="p-shop-info__dd">広鳥市朝南区上高2丁目0-0</dd>
              <dt class="p-shop-info__dt">電話番号</dt><dd class="p-shop-info__dd">0123-456-7890</dd>
              <dt class="p-shop-info__dt">営業時間</dt><dd class="p-shop-info__dd">月~金　7:00~19:00<br>土日祝　8:00~19:00</dd>
              <dt class="p-shop-info__dt">定休日</dt><dd class="p-shop-info__dd">お正月・お盆</dd>
            </dl>
          </section>
      </div>
    </main>

    <%- include( page.siteroot+"common/_footer", {page:page}); %>

  </div>
  <!-- .l-wrapper -->
  <%- include( page.siteroot+"common/_scripts", {page:page}); %>
</body>

</html>