/*
 * Aspect ratio
============================== */

// アスペクト比を保つ
@mixin aspect-ratio($width, $height, $image-path: null) {
  display: block;
  width: 100%;
  height: 0;
  padding-top: ($height / $width) * 100%;
  @if $image-path != null {
    background: url($image-path) center center no-repeat;
    background-size: cover;
  }
}

// アスペクト比を保つショートハンド
@mixin aspect-ratio-box($width, $height, $image-path: null) {
  display: block;
  position: relative;
  &:before {
    content: "";
    @include aspect-ratio($width, $height, $image-path);
  }
}
@mixin aspect-ratio-img() {
  @include absolute(0, 0, 0, 0)
  width: 100%;
  height: 100%;
  margin: auto;
}