/*
 * Hover
============================== */
@mixin hover($duration: 200, $ease: ease-out) {
  transition: $duration+ms 0 $ease;
  &:hover { @content; }
}

@mixin hover-focus($duration: 200, $ease: ease-out) {
  transition: $duration+ms 0 $ease;
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus($duration: 200, $ease: ease-out) {
  transition: $duration+ms 0 $ease;
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active($duration: 200, $ease: ease-out) {
  transition: $duration+ms 0 $ease;
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
