/*
 * Utility
============================== */

// clearfix
@mixin clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// 文字の省略（１行）
@mixin ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 背景を画面幅いっぱいに
@mixin full-width() {
  max-width: auto;    // IE対策
  max-width: initial;
  margin-right: calc((50% - 50vw));
  margin-left: calc((50% - 50vw));
  padding-right: calc((50vw - 50%));
  padding-left: calc((50vw - 50%));
}

// beforeにつけてアスペクト比を保つ
@mixin absolute($top:0, $right:0, $bottom:0, $left:0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex() {

}

