.p-gnav {
  &__list {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  &__list-item {
    flex: 1 1 25%;

    @include media-breakpoint-down(md) {
      flex: 1 1 50%;
      &:nth-child(n+3) {
        border-top: 2px solid $white;
      }
      &:nth-child(2n) {
        border-left: 2px solid $white;
      }
    }
  }
}