.p-header {
  @include full-width;
  height: 114px;
  padding-top: 20px;
  background-color: theme-color(assort-500);

  @include media-breakpoint-down(md) {
    height: 94px;
    padding-top: 15px;
  }

  &__logo {
    max-width: 200px;
    height: auto;
    margin-left: 20px;
    
    @include media-breakpoint-down(md) {
      margin: auto;
    }
  }
}