.p-info-list {
  display: flex;
  flex-flow: row wrap;

  @include media-breakpoint-down(md) {
    flex-flow: column nowrap;
  }

  &__date {
    flex: 0 0 6em;
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      flex: 0 0 auto;
      margin-bottom: 0;
    }
  }
  &__desc {
    flex: 1 1 auto;
    width: calc(100% - 8em);
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 0;
      padding-left: 2em;
    }
  }
}