.p-product-list {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 0;
  list-style: none;

  @include media-breakpoint-down(xs) {
    justify-content: center;
  }

  &__item {
    flex: 1 1 50%;
    width: 50%;
    max-width: calc(340px + 30px);
    height: auto;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;

    @include media-breakpoint-down(md){
      flex: 1 1 100%;
      width: 100%;
    }
  }
}