
.u-component-mb {
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}
.u-block-mb {
  margin-bottom: 50px;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

.u-sidebar-mb {
  margin-bottom: 20px;
}