.u-text-center {
  text-align: center !important;
}
.u-text-left {
  text-align: center !important;
}
.u-text-right {
  text-align: center !important;
}
.u-text-justify {
  text-align: justify !important;
}
